/*Pour les médias queries on juge qu’une résolution moyenne d’écran est :
Desktop : au delà de 1024 pixels 
Tablette : entre 769 et 1024 pixels (en mode portrait)  
Mobile : entre 375 et 768 pixels (en mode portrait) La taille moyenne d’un écran mobile est plutôt de 480 pixels*/

h1,
h2 {
    margin-left: 0;
}

.flex,
.flex-container,
.flex-container>div,
.gridcontainer {
    display: flex;
    justify-content: flex-start;
}

section,
article {
    margin: 2em 1em 2em 1em;
}

/* Configuration de la barre de navigation */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    border-bottom: 0.150em solid #BDA672;
    margin: 0em;
}

/* Configuration du logo */
.logo {
    color: white;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    max-width: 21.688em;
    margin-top: 0.5em;
    margin-bottom: 0.4em;
    margin-left: 0.2em;
    justify-content: left;
    margin-right: 0;
}

/*gestion de la checbox pour ouverture du menu .nav-link en @media queries :  
		Cacher l'input de type checkbox pour résolution > 1024px*/
input[type=checkbox] {
    display: none;
}

/*gestion des liens du menu : Configuration des liens de la barre de navigation*/
.nav-links {
    display: flex;
    font-family: 'Open Sans', sans-serif;
    justify-content: space-around;
    width: 100%;
    list-style-type: none;
    margin: 1.5em 2.5em 0.4em 7em;
    padding: 0;
    flex: 1 1 auto;
    position: relative;
}

.nav-links li {
    list-style: none;
}

/*gestion des liens enfants du menu : pour styliser des listes imbriquées,
		car il est important de distinguer le niveau de la liste qui est stylisé.*/
nav ul li>a {
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;

}

.nav-links li>a {
    color: #3B3A3A;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-links a {
    color: #3B3A3A;
    text-decoration: none;
    font-size: 1em;
}

.nav-links:focus {
    border-bottom: 0.125em solid #BF9A3C;
    color: #BF9A3C;
    padding-bottom: 0.625em;
}


/*ouverture du sous menu à partir d'un lien du menu (domaine)*/
nav li:hover .sousmenu {
    max-height: 18.75em;
    background: white;
    border-left: 0.125em solid #BDA672;
    border-right: 0.125em solid #BDA672;
    border-bottom: 0.125em solid #BDA672;
    padding: 1em 0.5em 1em 0.5em;
}

/*gestion du survol des liens du sous menu (domaine) et des liens du menu*/
nav a:hover {
    text-decoration: solid;
    color: #BF9A3C;
    border-bottom: 0.150em solid #BF9A3C;
    padding-bottom: 0.4em;
}

/*lien actif*/
#active {
    border-bottom: 0.15em solid #BF9A3C;
    color: #BF9A3C;
    padding-bottom: 0.625em;
}

/*style du sous menu*/
.sousmenu {
    flex-direction: column;
    position: absolute;
    text-align: center;
    margin-top: 1.69em;
    padding: 0.5em;
    max-height: 0em;
    list-style-type: none;
    overflow: hidden;
    z-index: 1000;

}

.sousmenu li {
    padding: 0.5em 0.1em 0.5em 0.1em;

}

/*gestion de l'icone burger*/
.burger div {
    width: 2em;
    height: 0.35em;
    background-color: #BF9A3C;
    margin: 0.313em;
    border-radius: 0.15em;
}

/* Cacher l'icône burger sur les écrans d'ordinateur */
.burger {
    display: none;
}

/*gestion du chevron du sous menu de domaine*/
.fa-chevron-down {
    color: #BF9A3C;
}

/*gestion du liseret*/
hr {
    height: 0.165em;
    background-color: #BF9A3C;
    border: none;
    width: 25%;
    margin-top: 1.5em;
}

/*exercice 5-footer*/

footer {
    background-color: #3b3a35;
    font-family: "Open Sans", sans-serif;
    color: white;
    border-top: 0.375em solid #BDA672;
    text-align: center;
    height: 15.938em;
    padding: 0.313em 0em 0.313em 0em;


}

footer ul {
    list-style: none;
    text-align: left;
    list-style-position: outside;
    margin-left: -3.125em;


}

footer li {
    list-style-position: outside;

}

footer a {
    font-family: "Open Sans", sans-serif;
    color: white;
    text-decoration: none;
    text-align: left;

}

footer a:hover {
    text-decoration: solid;
    color: #BF9A3C;

}

.footer-item {
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.footer-item.reseaux {
    justify-content: space-between;
    margin-left: -1em;
    padding: 0em;

}

.footer-item.reseaux p {
    text-align: left;
}

.colonne {
    flex-direction: column;

}

footer i {
    font-size: 2.5em;
    padding: 0.45em 0em 0.45em 0.45em;
}

.copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
    margin-top: 1.5em;
    padding: 0.8em;
    position: relative;
    font-size: 0.8em;

}

/*gestion du liseret blanc*/
.copyright::before {
    content: "";
    position: absolute;
    top: -0.625em;
    width: 80%;
    height: 0.15em;
    background: white;

}

/*On comence pour le Desktop*/

@media screen and (min-width: 1025px) {

    /*exercice 2 - Mettre en forme le header "Call To Action"*/

    /*mise en page*/

    /* Réinitialiser les marges, les espacements et définir box-sizing sur tous les éléments */

    input {
        -webkit-appearance: none;
        appearance: none;
    }

    input[type="email"] {
        -webkit-appearance: none;
        appearance: none;
    }

    body {
        width: 100%;
        max-width: 80em;
        margin: auto;
        border: 0.063em solid #F6F1EE;
    }


    .contact {
        border-bottom: 0.25em solid #BF9A3C;
        padding-bottom: 1.563em;
        margin-right: 0.938em;
        margin-left: 0.938em;
    }

    /*exercice 2 - Mettre en forme le header "Call To Action"*/

    /*header*/

    header {
        margin: 0;
        padding: 0;
        background: url(../../images/bandeau.png) no-repeat center center/cover;
        height: 43.75em;
    }

    .text {
        color: white;
        text-shadow: 0em 0.031em 0.031em rgba(0, 0, 0, 0.5),
            0.031em 0.031em 0.031em rgba(0, 0, 0, 0.7);
        font-size: 4.1em;
        font-family: 'Lustria', serif;
        margin: 0;
        padding: 0.1em 0.47em 1.4em 2.0em;
        display: flex;
        align-items: center;
    }

    /*call to action*/
    /* pour les symboles fontawesome */
    .flex-container i {
        font-size: 2.5em;
        color: #BF9A3C;
        margin: 0.4em 0em 1em 0em;
    }

    /* gestion de container */
    .flex-container {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        position: relative;
        margin: 0em 6em 0em 6em;
        transform: translate(0%, -63%);

    }

    /* On va gérer les 3 div calltoaction */
    .calltoaction {
        position: relative;
        flex-direction: column;
        justify-content: top;
        background-color: white;
        outline: 0.063em solid #BDA672;
        text-align: center;
        color: #3B3A3A;
        font-family: 'Open Sans', sans-serif;
        width: 16em;
        height: 16em;
        padding: 3em 1.5em 0.1em 1.5em;
        margin: 0.625em 0.5em 0em 0.5em;

    }



    /*exercice 3 - Mettre en forme 3 sections HTML*/

    main h2 {
        margin-top: 0;
    }

    .gridcontainer {
        display: grid;
        grid-row-gap: 0.625em;
        justify-content: space-around;
    }

    .gridcontainer h2 {
        border-bottom: 0.100em solid #BF9A3C;
        padding-bottom: 0.625em;
        width: 100%;
    }

    .right h2 {
        border-bottom: 0.100em solid #BF9A3C;
        padding-bottom: 0.625em;
        width: 80%;
    }

    .item1 img,
    .item2 img {
        width: 100%;
        max-width: 16em;
        padding-left: 3.5em;
    }

    .right img {
        width: 100%;
        max-width: 20em;

    }

    figure {
        margin: -2em 0em 0em 0em;

    }

    .item1,
    .item2,
    .right {
        grid-template-columns: 18.75em 18.75em;
        grid-row-gap: 0.938em;
        justify-content: center;
    }

    .item1 {
        grid-row-start: 1;
        grid-column-start: 1;
        grid-column-end: 1;
    }

    .item2 {
        grid-row-start: 2;
        grid-column-start: 1;
        grid-column-end: 1;
        transform: translate(0%, 10%);
    }

    .right {
        grid-template-columns: 25em;
        grid-column-start: 2;
        grid-row-end: 2;
        justify-content: left;
        transform: translate(10%, 0%);
    }

    .gridcontainer div>h2 {
        font-family: 'Lustria', serif;
    }

    .gridcontainer div>p {
        font-family: "Open Sans", sans-serif;
        color: #3B3A3A;
    }

    .item2 {
        margin-top: 1.875em;
    }

    .item2 ul li>a {
        font-family: "Open Sans", sans-serif;
        color: #3B3A3A;
    }

    .item2 li {
        list-style-image: url(../../images/drapeau-liste.png);
    }

    .apropos {
        width: 100%;
        transform: translate(25%, 0%);
    }

    .savoirplus {
        width: 100%;
        transform: translate(25%, 0%);
    }

    .aLaUne {
        display: flex;
        width: 90%;
        margin: 0em;
        padding-left: 3em;

    }

    .article_une {
        width: 80%;
        margin-top: -4em;

    }

    figcaption {
        background-color: #BF9A3C;
        font-family: "Open Sans", sans-serif;
        font-size: 2.3em;
        font-weight: bold;
        text-align: center;
        color: white;
        width: 3em;
        height: 1.4em;
        position: relative;
        transform: translate(190.5%, -108%);
        bottom: 0;
        z-index: 9999;
    }

    .bouton {
        display: block;
        background-color: #BF9A3C;
        margin: 0.313em;
        margin-top: 3em;
        width: 12.5em;
        line-height: 3.125em;
        text-align: center;
        color: white;
        text-decoration: none;
        border-radius: 0.25em;
        transform: translate(-3%, -60%)
    }

    .bouton:hover {
        color: black;
    }

    a.bouton {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1em;
        width: 7.5em;
    }

    /*exercice 4 - Insérer une vidéo et mettre en forme la newsletter*/

    .video_youtube h2 {
        border-bottom: 0.125em solid #BF9A3C;
        padding-bottom: 0.625em;
        width: 16em;
        position: relative;
        margin-top: 1.25em;
        margin-left: 5.5em;
        font-family: 'Lustria', serif;
        text-align: left;

    }

    .newsletter {
        margin-top: 1.25em;
        background: url(../../images/golfeur.jpeg) no-repeat center center/cover;
        max-width: 100%;
        height: 50em;
        display: flex;
        font-family: "Open Sans", sans-serif;
        align-items: flex-start;
        text-align: center;
        justify-content: center;

    }

    aside>form {
        width: 80%;
        border-bottom: 0.125em solid #BDA672;
        border-top: 0.125em solid #BDA672;
        padding: 1em 0em 1em 0em;
    }

    .fa-envelope {
        margin: 0;
        margin-right: 0.15em;
        color: #BF9A3C;
        text-align: center;
    }

    .email {
        display: inline-block;
        border: 0.125em solid #BDA672;
        height: 1.6em;
        box-shadow: inset 0.063em 0.063em 0.125em #aaa;
        font-style: italic;

    }

    .boutonValider {
        background-color: #BF9A3C;
        margin: 0.313em;
        width: 6.25em;
        line-height: 1.875em;
        text-align: center;
        color: white;
        border: none;
        border-radius: 0.25em;
    }

    .boutonValider:hover {
        color: black;
    }


    /*exercice 6 - Mettre en forme le tableau tarifs*/

    .tableau_tarifs h2 {
        position: relative;
        margin-top: 1.25em;
        font-family: 'Lustria', serif;
        text-align: left;
        padding-bottom: 0.25em;
        width: 30%;
    }

    .tableau_tarifs h2::after {
        display: block;
        content: '';
        width: 100%;
        border-bottom: 0.125em solid #BF9A3C;
        padding-top: 0.75em;
    }

    caption {
        caption-side: bottom;
        text-align: left;
        font-family: 'Open Sans', serif;
        font-style: italic;
        padding: 1.25em 1.25em 1.25em 0em;
        margin-bottom: 1.25em;
    }

    caption::after {
        display: block;
        content: '';
        width: 100%;
        border-bottom: 0.188em solid #BF9A3C;
        padding-top: 80px;
    }

    table,
    th,
    tr,
    td {
        table-layout: fixed;
        width: 100%;
        padding: 1.25em;
        margin-right: auto;
        margin-left: auto;
        border-collapse: collapse;
        border: 0.10em solid #BDA672;
        text-align: center;
    }


    .tarifs {


        padding: 1.25em 0.7em 0em 0.7em;
    }

    .text-tarifs {
        padding-left: 0em;
        margin-left: 0em;
        font-family: 'Open Sans', serif;
    }

    .tarifs hr {
        border: 0.188em solid #BDA672;
    }

    table,
    label {
        font-family: "Open Sans", sans-serif;
        color: #3B3A3A;
    }

    .prestations {
        border: 0.188em solid #BDA672;
    }

    tbody tr:nth-child(odd) {
        background-color: #F6F1EE;
        border: 0.140em solid #BDA672;
    }

    tbody td:nth-child(1) {
        text-align: left;

    }

    /*Exercice 7 - Mettre en forme le formulaire de contact*/

    /* Styles pour l'ensemble de l'exercice 7' */

    .global_contact {
        width: 100%;
        flex-direction: column;
        margin-bottom: 2.5em;
        padding-bottom: 3em;
        border-bottom: 0.175em solid #BF9A3C;
    }

    /* Styles pour l'entête */
    .entete_contact_maps {
        padding: 1em 1em 0.1em 1.5em;
        margin: 0;
        text-align: left;
    }

    .comment_form {
        display: flex;
        font-family: "Open Sans", sans-serif;
        border-top: 0.150em solid #BDA672;
        width: 25.7em;

    }

    /* Styles pour la section du formulaire */
    .contact_maps {
        display: flex;
        /* Pour afficher les sections côte à côte */
        justify-content: space-between;
        /* Pour espacement entre les sections */
        padding: 1em;

    }

    /* Styles pour les sections */
    .section {
        width: calc(47% - 1em);
        /* Prend la moitié de l'espace avec un espace entre les deux */
        margin: 0.5em;
    }

    .formulaireContact label {
        display: block;
        font-family: "Open Sans", sans-serif;
    }

    .saisie,
    select,
    option {
        margin-bottom: 0.625em;
        width: 100%;
        height: 3em;
        background-color: #F6F1EE;
        border: none;
        font-family: "Open Sans", sans-serif;
        font-style: italic;
    }

    textarea {
        margin-bottom: 0.625em;
        width: 99.6%;
        height: 18em;
        background-color: #F6F1EE;
        border: none;
        font-family: "Open Sans", sans-serif;
        font-style: italic;
    }

    /* Bouton */
    .bouton_contact {
        display: flex;
        position: relative;
        background-color: #BF9A3C;
        width: 6.25em;
        line-height: 1.875em;
        text-align: center;
        color: white;
        border: none;
        border-radius: 0.25em;
        /* Positionne à droite */
        margin-left: auto;
        padding-left: 1.3em;
    }

    #google_maps {
        padding-top: 1.25em;
    }

    /*Exercice 8 - Mettre en forme la FAQ et les partenaires*/

    .faq {
        margin-top: 2.5em;
        padding: 0;
    }

    .questions {
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 0;
        margin: auto auto;
        width: 85%;
        height: 25em;
        margin-bottom: 4.375em;
        border-bottom: 0.200em solid #BF9A3C;
        padding-bottom: 6.25em;

    }

    .faq h2 {
        position: relative;
        width: 40%;
        padding-bottom: 0.625em;
        margin-top: 1.25em;
        margin-left: 4em;
        font-family: 'Lustria', serif;
        border-bottom: 0.150em solid #BDA672;
    }

    .questions li {

        max-width: 100%;
        background-color: #F6F1EE;
        margin-top: 0.625em;
        margin-bottom: 0.625em;
        padding: 0.625em;
        list-style-type: none;
        font-family: "Open Sans", sans-serif;

    }

    .questions h3 {
        display: flex;
        position: relative;
        text-align: center;
        justify-content: space-between;
        font-weight: 500;
    }

    .questions p {
        margin: 0;
        padding: 0;
        text-align: left;
        max-width: 100%;
        max-height: 0px;
        list-style-type: none;
        overflow: hidden;
        z-index: 1000;
        font-family: "Open Sans", sans-serif;
        font-style: italic;
        transition: 1s;

    }

    .questions li:hover p {
        width: 100%;
        max-height: 50em;
    }

    /*partenaires*/

    .partenaires {
        flex-direction: row;
        list-style-type: none;
        padding: 0;
    }

    .partenaires img {
        height: 8.75em;
        max-width: 100%;
        background-color: #BF9A3C;
        margin-top: 2.5em;
        margin-bottom: 2.5em;
        padding: 0.625em;
        list-style-type: none;
    }

    .partenaires li {
        margin-right: 1.563em;
        margin-left: 0.625em;
    }

}

/*======================================================================================================================================*/

/* Styles spécifiques pour les écrans mobiles (max-width: 768px) */

@media screen and (max-width: 768px) {

    .fa-location-dot {
        margin-bottom: 0.5em;
    }

    h1,
    h2 {
        padding: 0;
        margin-left: 0;
    }

    section,
    article {
        margin-top: 1em;
        margin-bottom: 1em;
        margin-right: 1em;
        margin-left: 1em;
    }

    .gridcontainer h2 {
        border-bottom: 0.188em solid #BF9A3C;
        padding-bottom: 0.625em;
        width: 50%;
    }

    body {
        width: 100%;
        max-width: 48em;
        min-width: 20em;
        margin: auto;
        padding: 0;
        border: 0.063em solid #F6F1EE;

    }

    /* Cacher les liens de la barre de navigation sur les écrans mobiles */
    .nav-links {
        display: none;
        padding-left: 2em;
        padding-top: 0em;
        padding-bottom: 0em;
        margin: 0;
        background-color: white;
        max-height: 25em;

    }

    /* Afficher l'icône burger sur les écrans mobiles */
    .burger {
        display: block;
        cursor: pointer;
        color: #BF9A3C;
    }

    /* Afficher les liens de la barre de navigation lorsque la case est cochée sur les écrans mobiles
        Et configuration de celle-ci */
    input[type=checkbox]:checked~.nav-links {
        display: flex;
        flex-direction: column;
        align-items: left;
        position: absolute;
        top: 11vh;
        right: 0;
        font-family: 'Open Sans', sans-serif;
        color: #3B3A3A;
        width: 100%;
        height: 80vh;
        z-index: 1000;
    }

    /*gestion des liens enfants du menu : pour styliser des listes imbriquées,
    car il est important de distinguer le niveau de la liste qui est stylisé.*/
    nav {
        display: flex;
        justify-content: space-between;
        align-items: left;
        font-family: 'Open Sans', sans-serif;
        background-color: white;
        border-bottom: 0.5em solid #BDA672;
        margin: 0em;

    }

    .logo {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        max-width: 13.065em;
        margin-top: 0.5em;
        margin-bottom: 0.4em;
        margin-left: 0.5em;
        margin-right: 0em;
        padding: 0;

    }

    .burger {
        display: block;
        cursor: pointer;
        margin-right: 0.5em;

    }

    nav li:hover .sousmenu {
        background-color: rgba(255, 255, 255, 0.1);
        max-height: 15em;
        padding: 0.01em;
        margin-top: -5.2em;
        align-items: center;
        padding-bottom: 0.1em;
        padding-top: 0.1em;
        border: 0em;
        height: auto;
        line-height: normal;

    }

    nav li {
        font-family: 'Open Sans', sans-serif;
        font-size: 1em;
        font-weight: 100;
        align-items: left;
        padding-left: 2em;
        padding-top: 0em;
        padding-bottom: 0em;

    }

    .sousmenu {
        position: absolute;
        text-align: left;
        padding: 0em 1.563em 0.5em 1.563em;
        margin: 0em;
        max-height: 0em;
        list-style-type: none;
        overflow: hidden;
        z-index: 1000;

    }

    .sousmenu li {
        display: flex;
        position: relative;
        margin-left: 10em;
        padding-top: -3em;
        line-height: 2;

    }

    .sousmenu ul {
        padding: 0.01em;
        margin: 0em;

    }

    .active {
        border-bottom: 0.125em solid #BF9A3C;
        color: #BF9A3C;
        padding-bottom: 0.625em;
    }

    nav a:hover {
        text-decoration: solid;
        color: #BF9A3C;
        border-bottom: 0.125em solid #BF9A3C;
        padding-bottom: 0.2em;
    }


    /*exercice 2 - Mettre en forme le header "Call To Action"*/

    /*header*/

    header {

        background: url(../../images/bandeau.png) no-repeat center center/cover;
        height: 30em;
        width: 100%;
        z-index: 1;
    }

    .text {
        color: white;
        text-shadow: 0em 0.031em 0.031em rgba(0, 0, 0, 0.5),
            0.031em 0.031em 0.031em rgba(0, 0, 0, 0.7);
        font-size: 2.2em;
        font-family: 'Lustria', serif;
        text-align: center;
        transform: translate(25%, 17%);
        display: flex;
        align-items: center;
    }

    /*call to action*/

    .flex-container {
        position: relative;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        margin-top: -3.2em;
    }

    .calltoaction {
        position: relative;
    }

    .flex-container i {
        font-size: 3em;
        color: #BF9A3C;
        margin-bottom: 0.5em;

    }

    .flex-container>div {
        flex-direction: column;
        justify-content: center;
        background-color: white;
        outline: 0.125em solid #BDA672;
        text-align: center;
        color: #3B3A3A;
        font-family: 'Open Sans', sans-serif;
        width: 16em;
        height: 16em;
        padding: 0.625em;
        margin: 0.375em;
    }



    /*exercice 3 - Mettre en forme 3 sections HTML*/

    main h2 {
        margin-top: 0;
    }

    .gridcontainer {
        flex-direction: column;
        justify-content: space-around;
    }

    .item1 img,
    .item2 img {
        width: 100%;
        max-width: 16em;
        margin: auto auto;
        padding-top: 1em;
        padding-bottom: 1em;
    }

    .right img {
        width: 100%;
        max-width: 16em;
        transform: translate(-15%, -5%);
    }

    .item1,
    .item2 {
        flex-direction: column-reverse;
        justify-content: center;

    }

    .gridcontainer h2 {
        border-bottom: 0.100em solid #BF9A3C;
        padding-bottom: 0.625em;
        width: 45%;
    }

    .gridcontainer div>h2,
    .item1 div>h2,
    .item2 div>h2,
    .right div>h2 {
        font-family: 'Lustria', serif;

    }

    .gridcontainer div>p,
    .item1 div>p,
    .item2 div>p,
    .right div>p {
        font-family: "Open Sans", sans-serif;
        color: #3B3A3A;

    }

    .item2 {
        margin-top: 1.875em;
    }

    .item2 ul li>a {
        font-family: "Open Sans", sans-serif;
        color: #3B3A3A;
    }

    .item2 li {
        list-style-image: url(../../images/drapeau-liste.png);
    }

    .right {
        justify-content: left;
    }

    .apropos {
        width: 100%;

    }

    .savoirplus {
        width: 100%;

    }

    .aLaUne {
        width: 100%;

    }

    .article_une {
        transform: translateY(-37%);
    }

    .article_une p {
        margin-top: 1em;
    }

    figcaption {
        background-color: #BF9A3C;
        font-family: "Open Sans", sans-serif;
        color: white;
        font-size: 2.3em;
        font-weight: normal;
        text-align: center;
        align-items: center;
        justify-content: center;
        vertical-align: middle;
        width: 3.2em;
        height: 1.5em;
        position: relative;
        transform: translate(85.5%, -131%);
        z-index: 9999;

    }

    .bouton {
        display: block;
        background-color: #BF9A3C;
        margin: 0.5em 0em 0.313em 0em;
        width: 12.5em;
        line-height: 2.5em;
        text-align: center;
        color: white;
        text-decoration: none;
        border-radius: 0.25em;
        padding-bottom: 2em;
    }

    .bouton:hover {
        color: black;
    }

    a.bouton {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1em;
        width: 7.5em;
    }

    /*exercice 4 - Insérer une vidéo et mettre en forme la newsletter*/

    .video_youtube h2 {
        position: relative;
        margin-top: 1.25em;
        font-family: 'Lustria', serif;
        text-align: left;
        border-bottom: 0.125em solid #BDA672;
        padding-bottom: 0.5em;
        width: 50%;
        margin-left: 0em;
    }

    .videoWrapper {
        position: relative;
        padding-bottom: 56.25%;
        /* 16:9 */
        padding-top: 25px;
        height: 0;
    }

    .videoWrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .newsletter {
        margin-top: 1.25em;
        background: url(../../images/golfeur.jpeg) no-repeat center/cover;
        max-width: 100%;
        height: 25em;
        font-family: "Open Sans", sans-serif;
        align-items: flex-start;
        text-align: center;
        justify-content: center;
        vertical-align: middle;

    }

    aside>form {

        flex-direction: column;
        width: 100%;
        height: auto;
        border-bottom: 0.125em solid #BDA672;
        border-top: 0.125em solid #BDA672;
        margin: 0.2em 0em 0.2em 0em;
        margin-bottom: 0.2em;
        padding-top: 2em;
        padding-bottom: 1.4em;
    }

    .fa-envelope {
        display: none;

    }

    .email {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0.5em;
        width: 40%;
        border: 0.125em solid #BDA672;
        height: 1.7em;
        box-shadow: inset 0.063em 0.063em 0.125em #aaa;
        font-style: italic;
    }

    .boutonValider {
        align-items: center;
        background-color: #BF9A3C;
        margin: 0.5em 0em 0.5em 8.5em;
        width: 6.3em;
        line-height: 1.9em;
        text-align: center;
        color: white;
        border: none;
        border-radius: 0.25em;
    }

    .boutonValider:hover {
        color: black;
    }

    /*exercice 5- Mettre en forme le footer*/

    footer {
        background-color: hsl(50, 5%, 22%);
        text-align: center;
        font-family: "Open Sans", sans-serif;
        border-top: 0.375em solid #BDA672;
        padding-top: 0.2em;
        padding-bottom: 0.5em;
        height: auto;

    }

    footer ul {
        list-style: none;

    }

    footer a {
        font-family: "Open Sans", sans-serif;
        text-decoration: none;
        text-align: center;


    }

    .footer-item {
        flex-direction: column;
        margin-top: 0.1em;
        margin-bottom: 0.1em;
        padding-bottom: 0.1em;
        align-items: center;

    }

    .colonne {
        flex-direction: column;
        align-items: center;
        margin-bottom: 0.1em;
    }

    h3 {
        padding-top: 2em;
        padding-bottom: -2em;
    }

    p {
        margin: 0em;
        padding: 0em;
    }

    footer i {
        font-size: 4em;
    }


    .reseaux {
        flex-direction: row;
    }

    .footer-item ul {
        display: none;
    }

    .partenaires {
        display: none;
    }

    .contact {
        flex-direction: column;
        align-items: center;
    }

    .copyright {
        flex-direction: column;
        align-items: center;
        margin-bottom: 0.1em;
        padding: 0.1em;
        position: relative;
        font-size: 0.73em;

    }

    .copyright::before {
        content: "";
        position: absolute;
        top: -10px;
        width: 100%;
        height: 0.150em;

    }

    /*exercice 6 - Mettre en forme le tableau tarifs*/
    .tableau_tarifs h2 {
        position: relative;
        margin: 1.25em 0em 0em 0em;
        font-family: 'Lustria', serif;
        text-align: left;
        padding: 0em;
        width: 50%;
    }

    .tableau_tarifs h2::after {
        display: block;
        content: '';
        width: 100%;
        border-bottom: 0.125em solid #BF9A3C;
        padding-top: 0.75em;
    }

    caption {
        caption-side: bottom;
        text-align: left;
        font-family: 'Open Sans', serif;
        font-size: 0.9em;
        font-style: italic;
        padding: 1.25em 0em 1.25em 0em;
        margin-bottom: 0em;
    }

    caption::after {
        display: block;
        content: '';
        width: 100%;
        border-bottom: 0.188em solid #BF9A3C;
        padding-top: 2em;
    }

    table,
    th,
    tr,
    td {
        table-layout: fixed;
        width: 100%;
        padding: 1.25em;
        margin-right: auto;
        margin-left: auto;
        border-collapse: collapse;
        border: 0.188em solid #BDA672;
        text-align: center;
    }

    .tarifs {

        padding: 0em 0.7em 0em 0em;
        margin: 0;
    }

    .text-tarifs {
        margin-left: 0rem;
        padding-top: 1em;
        padding-bottom: 1em;
        padding-left: 0rem;
        font-family: 'Open Sans', serif;
    }

    .tarifs hr {
        border: 0.188em solid #BDA672;
        width: 100%;
    }

    table,
    label {
        font-family: "Open Sans", sans-serif;
        color: #3B3A3A;
    }

    tbody tr:nth-child(odd) {
        background-color: #F6F1EE;
    }

    tbody td:nth-child(1) {
        text-align: left;
    }

    /*Exercice 7 - Mettre en forme le formulaire de contact*/

    .global_contact {
        flex-direction: column;
        width: 98%;
        border-bottom: 0.125em solid #BF9A3C;
        margin-left: 0.25em;
    }

    .entete_contact_maps {
        flex-direction: column;
        padding-left: 1em;
        margin-bottom: 2em;

    }

    .entete_contact_maps h2 {
        font-family: 'Lustria', serif;
        border-bottom: 0.125em solid #BDA672;
        width: 42%;
        padding-bottom: 0.6em;

    }

    .comment_form {
        display: flex;
        font-family: "Open Sans", sans-serif;
        border: 0;
        width: 98%;
    }

    .comment_form p {
        display: flex;
        margin-top: -0.2em;
        width: 98%;
    }

    .contact_maps {
        flex-direction: column;
        margin-left: 1em;
        padding-right: 0.8m;
    }

    .section {
        flex: none;
        /* Annule la flexibilité pour occuper la largeur complète */
        width: 100%;
        /* Chaque article prend toute la largeur */
        padding-bottom: 1em;
        margin-bottom: 1em;
    }

    .formulaire {
        width: 93%;
        height: 100%;
        margin-bottom: 2em;
    }

    .formulaireContact label {
        display: block;
        font-family: "Open Sans", sans-serif;
    }

    .saisie,
    select,
    option {
        margin-bottom: 0.625em;
        width: 100%;
        height: 3em;
        background-color: #F6F1EE;
        border: none;
        font-family: "Open Sans", sans-serif;
        font-style: italic;
    }

    textarea {
        margin-bottom: 0.625em;
        width: 100%;
        height: 18em;
        background-color: #F6F1EE;
        border: none;
        font-family: "Open Sans", sans-serif;
        font-style: italic;
    }

    .bouton_contact {
        display: flex;
        position: relative;
        background-color: #BF9A3C;
        width: 6.25em;
        line-height: 1.875em;
        text-align: center;
        color: white;
        border: none;
        border-radius: 0.25em;
        margin-left: auto;
        /* Positionne à droite */
        padding-left: 1.3em;
    }

    .google_maps {
        width: 93%;
        margin: 1em;

    }


    /*Exercice 8 - Mettre en forme la FAQ */

    .faq {
        margin-top: 1em;
        padding-bottom: 1em;
        margin-right: 0.938em;
        margin-left: 0.938em;
        border-bottom: 0.125em solid #BF9A3C;

    }


    .questions {
        flex-direction: column;
        padding: 0;
        margin: auto;
        width: 98%;
        margin-bottom: 2em;

    }

    .questions h3 {
        display: flex;
        position: relative;
        text-align: center;
        justify-content: space-between;
        font-weight: normal;
        font-size: 0.95em;
        font-family: "Open Sans", sans-serif;
        margin: 0.2em 0.1em 0.2em 0.5em;

    }

    .questions p {
        margin: 0.5em;
        text-align: left;
        max-width: 98%;
        max-height: 0px;
        list-style-type: none;
        overflow: hidden;
        z-index: 1000;
        font-family: "Open Sans", sans-serif;
        font-style: italic;
        font-weight: normal;
        font-size: small;

    }

    .faq h2 {
        position: relative;
        margin-top: 1.25em;
        margin-left: 0;
        font-family: 'Lustria', serif;
        text-align: left;
        border-bottom: 0.125em solid #BF9A3C;
        padding-bottom: 0.625em;
        width: 45%;
    }

    .questions ul {
        align-items: center;
    }

    .questions li {
        max-width: 100%;
        background-color: #F6F1EE;
        margin-top: 0em;
        margin-bottom: 1em;
        padding-top: -1em;
        padding-bottom: 1em;
        list-style-type: none;
        font-family: "Open Sans", sans-serif;
        font-weight: normal;
        align-items: center;
    }

    .questions li:hover p {
        width: 100%;
        max-height: 50em;
    }

    /*PARTENAIRES*/
    .partenaires {
        display: none;

    }

    /* fin du media queries mobile*/


}

/*======================================================================================================================================*/

/*media queries Tablette*/

@media screen and (min-width: 769px) and (max-width: 1024px) {

    /*exercice 1 -"Mettre en forme le menu principal"*/
    /*mise en page*/
    .fa-location-dot {
        margin-bottom: 0.5em;
    }

    h1,
    h2 {
        padding: 0;
        margin-left: 0;
    }

    section,
    article {
        margin-top: 1em;
        margin-bottom: 1em;
        margin-right: 1em;
        margin-left: 1em;
    }

    .gridcontainer h2 {
        border-bottom: 0.188em solid #BF9A3C;
        padding-bottom: 0.625em;
        width: 50%;
    }

    body {
        width: 100%;
        max-width: 63.938em;
        min-width: 37.510em;
        margin: auto;
        padding: 0;
        border: 0.063em solid #F6F1EE;

    }

    /* menu, sous-menu, burger, logo*/

    /*gestion des liens du menu : Configuration des liens de la barre de navigation -
    - Cacher les liens de la barre de navigation sur les écrans tablettes */
    .nav-links {
        display: none;
        margin-left: 0em;
        background-color: white;
        max-height: 25em;
        width: 100%;

    }

    /* Afficher l'icône burger sur les écrans tablettes */
    .burger {
        display: block;
        cursor: pointer;
        color: #BF9A3C;
    }

    /* Afficher les liens de la barre de navigation lorsque la case est cochée sur les écrans tablettes
        Et configuration de celle-ci */
    input[type=checkbox]:checked~.nav-links {
        display: flex;
        flex-direction: column;
        align-items: left;
        position: absolute;
        top: 11vh;
        font-family: 'Open Sans', sans-serif;
        color: #3B3A3A;
        width: 100%;
        height: 82vh;
        z-index: 1000;
    }

    /* Configuration de la barre de navigation  - gestion des liens enfants du menu : pour styliser des listes imbriquées,
    car il est important de distinguer le niveau de la liste qui est stylisé.*/
    nav {
        display: flex;
        width: 100%;
        height: 7em;
        justify-content: space-between;
        align-items: left;
        font-family: 'Open Sans', sans-serif;
        background-color: white;
        border-bottom: 0.5em solid #BDA672;
        margin: 0em;

    }

    .logo {
        display: flex;
        justify-content: flex-start;
        width: 23em;
        height: 4.671em;
        margin: 0.1em 0em 0.1em 0.5em;
        padding: 0;


    }

    .burger {
        display: block;
        cursor: pointer;
        margin-right: 0.5em;
        padding-top: 1em;

    }

    .burger div {
        width: 3em;
        height: 0.45em;
        background-color: #BF9A3C;
        margin: 0.5em;
        border-radius: 0.15em;

    }

    /*ouverture du sous menu à partir d'un lien du menu (domaine)*/
    nav li:hover .sousmenu {
        background: white;
        max-height: 18.75em;
        margin-top: 0.5em;
        width: 90%;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        padding-left: 1em;
        border: 0;
        height: auto;
        line-height: normal;

    }


    nav li {
        font-family: 'Open Sans', sans-serif;
        font-size: 1em;
        font-weight: 100;
        align-items: left;
        padding-left: 2em;
        padding-top: 0em;
        padding-bottom: 0em;
        width: 90%;

    }

    /*style du sous menu*/
    .sousmenu {
        flex-direction: column;
        position: absolute;
        text-align: left;
        padding: 0em 1.563em 0.5em 1.563em;
        margin: 0em;
        max-height: 0em;
        width: 85%;
        list-style-type: none;
        overflow: hidden;
        z-index: 1000;

    }

    .sousmenu li {
        display: flex;
        position: relative;
        width: 90%;
        line-height: 2;

    }

    .sousmenu li:not(:last-child) {
        border-bottom: solid 0.125em #BF9A3C;
        margin-right: 4em;
    }

    .sousmenu a:hover {
        text-decoration: none;
    }

    .sousmenu ul {
        padding: 0.01em;
        margin: 0em;

    }

    .active {
        border-bottom: 0.125em solid #BF9A3C;
        color: #BF9A3C;
        padding-bottom: 0.625em;
    }

    nav a:hover {
        text-decoration: solid;
        color: #BF9A3C;
        border-bottom: 0.125em solid #BF9A3C;
        padding-bottom: 0.2em;
    }

    /*exercice 2 - Mettre en forme le header "Call To Action"*/

    /*header*/

    header {

        margin: 0;
        padding: 0;
        background: url(../../images/bandeau.png) no-repeat center center/cover;
        height: 36.5em;
        z-index: 1;
    }

    .flex {
        justify-content: flex-start;

    }

    .flex-container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .text {
        color: white;
        text-shadow: 0em 0.031em 0.031em rgba(0, 0, 0, 0.5),
            0.031em 0.031em 0.031em rgba(0, 0, 0, 0.7);
        font-size: 4.2em;
        font-family: 'Lustria', serif;
        text-align: left;
        margin: 0;
        display: flex;
        align-items: center;
        transform: translate(15.8%, 0%);
    }

    /*call to action*/

    .flex-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        position: relative;
        margin-top: -10em;
    }

    .calltoaction {
        position: relative;
    }

    .flex-container i {
        font-size: 3em;
        color: #BF9A3C;
        margin-bottom: 0.5em;

    }

    .flex-container>div {
        flex-direction: column;
        justify-content: center;
        background-color: white;
        outline: 0.125em solid #BDA672;
        text-align: center;
        color: #3B3A3A;
        font-family: 'Open Sans', sans-serif;
        width: 16em;
        height: 16em;
        padding: 0.625em;
        margin: 0.375em;
    }

    /*exercice 3 - Mettre en forme 3 sections HTML*/

    main {
        padding-top: 8em;
    }

    main h2 {
        margin-top: 0;
    }

    .gridcontainer {
        display: grid;
        grid-row-gap: 0.625em;
        justify-content: space-around;
        transform: translateX(-0.5%)
    }

    .gridcontainer h2 {
        border-bottom: 0.100em solid #BF9A3C;
        padding-bottom: 0.625em;
        width: 100%;
    }

    .item1 img,
    .item2 img {
        width: 100%;
        max-width: 18.75em;
        margin: auto auto;
    }

    .right img {
        /*width: 100%;*/
        max-width: 18.75em;
        /*margin: auto auto;*/
        transform: translate(-13%, -10%);
    }

    .item1,
    .item2 {
        grid-template-columns: 19em 25em;
        row-gap: 1em;
        column-gap: 0.5em;
        justify-content: center;


    }

    .right {
        grid-template-columns: 19em 25em;
        row-gap: 1em;
        justify-content: left;
        column-gap: 0.5em;
    }

    .texte_droite {
        margin-top: -2em;
        margin-left: 1.5em;

    }

    .gridcontainer div>h2,
    .item1 div>h2,
    .item2 div>h2,
    .right div>h2 {
        font-family: 'Lustria', serif;

    }

    .item1 div>h2 {
        width: 75%;
    }

    .item2 div>h2 {
        width: 40%;
    }

    .right div>h2 {
        width: 140%;
        padding-top: 1em;

    }

    .gridcontainer div>p,
    .item1 div>p,
    .item2 div>p,
    .right div>p {
        font-family: "Open Sans", sans-serif;
        color: #3B3A3A;

    }

    .item2 {
        margin-top: 1.875em;
    }

    .item2 ul li>a {
        font-family: "Open Sans", sans-serif;
        color: #3B3A3A;
    }

    .item2 li {
        list-style-image: url(../../images/drapeau-liste.png);
    }

    .apropos {
        width: 95%;
        padding-left: 3em;
    }

    .savoirplus {
        width: 100%;
        padding-left: 3em;
    }

    .article_une {
        width: 90%;
        margin-top: -2em;
        padding-left: 3em;

    }


    figcaption {
        background-color: #BF9A3C;
        font-family: "Open Sans", sans-serif;
        color: white;
        font-size: 2.3em;
        font-weight: bold;
        text-align: center;
        align-items: center;
        justify-content: center;
        vertical-align: middle;
        padding-top: 0.3em;
        width: 3.2em;
        height: 1.5em;
        position: relative;
        top: -2.7em;
        left: 3.67em;
        /*bottom: 0;*/
        z-index: 9999;

    }

    .bouton {
        display: block;
        background-color: #BF9A3C;
        margin: 0.5em 0em 0.313em 0em;
        width: 12.5em;
        line-height: 2.5em;
        text-align: center;
        color: white;
        text-decoration: none;
        border-radius: 0.25em;
        padding-bottom: 2em;
    }

    .bouton:hover {
        color: black;
    }

    a.bouton {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1em;
        width: 7.5em;
    }

    /*exercice 4 - Insérer une vidéo et mettre en forme la newsletter*/

    .video_youtube h2 {
        position: relative;
        margin-top: 1.25em;
        font-family: 'Lustria', serif;
        text-align: left;
        border-bottom: 0.125em solid #BDA672;
        padding-bottom: 0.5em;
        width: 54%;
    }

    .videoWrapper {
        position: relative;
        padding-bottom: 56.25%;
        /* 16:9 */
        padding-top: 25px;
        height: 0;
    }

    .videoWrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .newsletter {
        margin-top: 4.5em;
        background: url(../../images/golfeur.jpeg) no-repeat center center/cover;
        height: 40em;
        display: flex;
        font-family: "Open Sans", sans-serif;
        align-items: flex-start;
        text-align: center;
        justify-content: center;
    }

    aside>form {
        width: 100%;
        height: 5em;
        border-bottom: 0.125em solid #BDA672;
        border-top: 0.125em solid #BDA672;
        padding: 0em 0em 0em 0em;
        align-items: center;
    }

    .fa-envelope {
        margin: 0;
        margin-right: 0.15em;
        color: #BF9A3C;
        text-align: center;
        font-size: 2.5em;
    }

    .email {
        display: inline-block;
        margin-top: 2.15em;
        border: 0.125em solid #BDA672;
        height: 1.6em;
        box-shadow: inset 0.063em 0.063em 0.125em #aaa;
        font-style: italic;
    }

    .boutonValider {
        background-color: #BF9A3C;
        margin: 0.313em;
        width: 6.25em;
        line-height: 1.875em;
        text-align: center;
        color: white;
        border: none;
        border-radius: 0.25em;
    }

    .boutonValider:hover {
        color: black;
    }

    /*exercice 5- Mettre en forme le footer*/

    footer {
        background-color: hsl(50, 5%, 22%);
        text-align: center;
        font-family: "Open Sans", sans-serif;
        color: white;
        border-top: 0.375em solid #BDA672;
        padding-top: 1.5em;
        padding-bottom: 1.5em;
    }

    footer ul {
        list-style: none;

    }

    footer a {
        font-family: "Open Sans", sans-serif;
        color: white;
        text-decoration: none;
        text-align: center;

    }

    .footer-item {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-right: 0.7em;
        margin-left: 0.3em;
        font-style: normal;
    }

    .colonne {
        display: column;
        flex-direction: column;
        margin-bottom: 2.5em;
    }

    footer i {
        font-size: 2.5em;
    }

    .footer-item {
        display: flex;

    }

    .reseaux {
        flex-direction: row;
        margin-right: -0.1em;
    }

    .footer-item ul {
        display: none;
    }

    .partenaires {
        display: none;
    }

    .contact {
        flex-direction: column;
        align-items: center;
    }

    .contact div {
        width: 100%;
    }

    .copyright {
        flex-direction: column;
        align-items: center;
        padding-top: 0.75em;
        position: relative;
        font-size: 0.9em;

    }

    .copyright p {
        padding-bottom: 1em;
    }

    .copyright::before {
        content: "";
        position: absolute;
        top: -0.625em;
        width: 100%;
        height: 0.125em;
        background: white;
        align-items: center;

    }

    /*exercice 6 - Mettre en forme le tableau tarifs*/
    .tableau_tarifs h2 {
        position: relative;
        margin: 1.25em 0em 0em 0em;
        font-family: 'Lustria', serif;
        text-align: left;
        padding: 0em;
        width: 50%;
    }

    .tableau_tarifs h2::after {
        display: block;
        content: '';
        width: 100%;
        border-bottom: 0.125em solid #BF9A3C;
        padding-top: 0.75em;
    }

    caption {
        caption-side: bottom;
        text-align: left;
        font-family: 'Open Sans', serif;
        font-size: 0.9em;
        font-style: italic;
        padding: 1.25em 0em 1.25em 0em;
        margin-bottom: 1.25em;
    }

    caption::after {
        display: block;
        content: '';
        width: 100%;
        border-bottom: 0.188em solid #BF9A3C;
        padding-top: 2em;
    }

    table,
    th,
    tr,
    td {
        table-layout: fixed;
        width: 100%;
        padding: 1.25em;
        margin-right: auto;
        margin-left: auto;
        border-collapse: collapse;
        border: 0.188em solid #BDA672;
        text-align: center;
    }

    .tarifs {
        width: 100%;
        padding: 0.5em 0.3em 0em 0.3em;
    }

    .text-tarifs {
        margin-left: 0em;
        font-family: 'Open Sans', serif;
    }

    .tarifs hr {
        border: 0.188em solid #BDA672;
        width: 100%;
    }

    table,
    label {
        font-family: "Open Sans", sans-serif;
        color: #3B3A3A;
    }

    tbody tr:nth-child(odd) {
        background-color: #F6F1EE;
    }

    tbody td:nth-child(1) {
        text-align: left;
    }

    /*Exercice 7 - Mettre en forme le formulaire de contact*/

    .global_contact {
        flex-direction: column;
        width: 98%;
        padding-top: 0;
    }

    .entete_contact_maps {
        flex-direction: column;
        padding-left: 1em;
        margin-bottom: 1em;

    }

    .entete_contact_maps h2 {
        font-family: 'Lustria', serif;
        border-bottom: 0.125em solid #BDA672;
        width: 52%;
        padding-bottom: 0.6em;

    }

    .comment_form {
        display: flex;
        font-family: "Open Sans", sans-serif;
        border: 0;
        width: 98%;
    }

    .comment_form p {
        display: flex;
        margin-top: -0.2em;
        width: 98%;
    }

    .contact_maps {
        flex-direction: column;
        margin-left: 1em;
        padding-right: 0.8em;
        padding-bottom: 1em;
        border-bottom: 0.150em solid #BDA672;
    }

    .section {
        flex: none;
        /* Annule la flexibilité pour occuper la largeur complète */
        width: 100%;
        /* Chaque article prend toute la largeur */
        padding-bottom: 1em;
        margin-bottom: 1em;
    }

    .formulaire {
        width: 93%;
        height: 100%;
        margin-bottom: 2em;
    }

    .formulaireContact label {
        display: block;
        font-family: "Open Sans", sans-serif;
    }

    .saisie,
    select,
    option {
        margin-bottom: 0.625em;
        width: 100%;
        height: 3em;
        background-color: #F6F1EE;
        border: none;
        font-family: "Open Sans", sans-serif;
        font-style: italic;
    }

    textarea {
        margin-bottom: 0.625em;
        width: 100%;
        height: 18em;
        background-color: #F6F1EE;
        border: none;
        font-family: "Open Sans", sans-serif;
        font-style: italic;
    }

    .bouton_contact {
        display: flex;
        position: relative;
        background-color: #BF9A3C;
        width: 6.25em;
        line-height: 1.875em;
        text-align: center;
        color: white;
        border: none;
        border-radius: 0.25em;
        margin-left: auto;
        /* Positionne à droite */
        padding-left: 1.3em;

    }

    .google_maps {
        width: 97%;
        margin: 1em;

    }


    /*Exercice 8 - Mettre en forme la FAQ */

    .faq {
        margin-top: 1em;
        padding-bottom: 1em;
        margin-right: 0.938em;
        margin-left: 0.938em;
        border-bottom: 0.150em solid #BDA672;

    }


    .questions {
        flex-direction: column;
        padding: 0em;
        width: 100%;
        margin-bottom: 2em;

    }

    .questions h3 {
        display: flex;
        position: relative;
        text-align: center;
        justify-content: space-between;
        font-weight: normal;
        font-size: 0.95em;
        font-family: "Open Sans", sans-serif;
        margin: 0.2em 0.1em 0.2em 0.5em;

    }

    .questions p {
        margin: 0.5em;
        text-align: left;
        max-width: 98%;
        max-height: 0px;
        list-style-type: none;
        overflow: hidden;
        z-index: 1000;
        font-family: "Open Sans", sans-serif;
        font-style: italic;
        font-weight: normal;
        font-size: small;

    }

    .faq h2 {
        position: relative;
        margin-top: 1.25em;
        margin-left: 0;
        font-family: 'Lustria', serif;
        text-align: left;
        border-bottom: 0.125em solid #BF9A3C;
        padding-bottom: 0.625em;
        width: 50%;
    }

    .questions ul {
        align-items: center;

    }

    .questions li {
        max-width: 100%;
        background-color: #F6F1EE;
        margin-top: 0em;
        margin-bottom: 1em;
        padding: 2.5em 0.5em 2em 0.5em;
        list-style-type: none;
        font-family: "Open Sans", sans-serif;
        font-weight: normal;
        align-items: center;

    }

    .questions li:hover p {
        width: 100%;
        max-height: 10em;
    }

    /*PARTENAIRES*/
    .partenaires {
        display: none;

    }

}



/* fin des medias queries */

/*--------------------------------------------------------------------------------------------------------------------------------------*/

/* /*Exercice 10 - Animer le logo*/

/*.cefiiSans {
    display: block;
    margin-top: 1.25em;
    margin-bottom: 0.938em;
    margin-left: 0.625em;

}

.animation {
    flex-direction: row;
    align-items: flex-end;
    position: absolute;
    transform: translate(14.688em, -3.75em);

}

.fxLeft,
.fxRight {
    width: 0.813em;
    height: 2.188em;
    animation-name: fxLR;
    -webkit-animation-name: fxLR;
    animation-timing-function: cubic-bezier(.12, -0.01, .99, 0);
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
}

@keyframes fxLR {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fxLR {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.balle {
    width: 2.875em;
    height: auto;
    animation-name: rebond;
    -webkit-animation-name: rebond;
    animation-timing-function: cubic-bezier(0, -0.02, 1, .66);
    -webkit-animation-timing-function: cubic-bezier(0, -0.02, 1, .66);
    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
}

@keyframes rebond {
    0% {
        transform: translateY(-3.125em) translateX(80em)
    }

    20% {
        transform: translateY(0) translateX(37.5em)
    }

    40% {
        transform: translateY(-0.938em) translateX(31.25em)
    }

    50% {
        transform: translateY(-1.875em) translateX(25em)
    }

    60% {
        transform: translateY(-0.938em) translateX(19.688em)
    }

    70% {
        transform: translateY(0em) translateX(15em)
    }

    77% {
        transform: translateY(-0.938em) translateX(11.25em)
    }

    85% {
        transform: translateY(-1.875em) translateX(7.5em)
    }

    100% {
        transform: translateY(0) translateX(0)
    }

}

@-webkit-keyframes rebond {
    0% {
        transform: translateY(-3.125em) translateX(80em)
    }

    20% {
        transform: translateY(0) translateX(37.5em)
    }

    40% {
        transform: translateY(-0.938em) translateX(31.25em)
    }

    50% {
        transform: translateY(-1.875em) translateX(25em)
    }

    60% {
        transform: translateY(-0.938em) translateX(19.688em)
    }

    70% {
        transform: translateY(0em) translateX(15em)
    }

    77% {
        transform: translateY(-0.938em) translateX(11.25em)
    }

    85% {
        transform: translateY(-1.875em) translateX(7.5em)
    }

    100% {
        transform: translateY(0) translateX(0)
    }
}*/
